.dropdown>.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
}

.dropdown>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
  pointer-events: none;
}

  @media only screen and (min-width: 600px){
    .form {
      width: 600px;
    }
  }

li.dropdown {
    padding: 0 10px 0 10px;
}

.large-table {
  width: 80%!important;
  margin-left: 10%;
  /* border: 1px solid black!important; */
}
.bordertop {
  border-top: 1px solid black!important;
}